@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@500;600;700&family=Nunito+Sans:wght@300&family=Philosopher:ital,wght@0,700;1,400&family=Playfair+Display:ital,wght@1,700&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkitscrollbar-track {
  background: #2e2020;
  box-shadow: 0 0 10px #8d1616 inset;
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background: #817d7d;
  border-radius: 5rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #eee;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 420px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 75rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 97rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 116rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 136rem;
  }
}
a {
  text-decoration: none;
  font-family: "Philosopher", sans-serif;
  font-size: 1.6rem;
}

.box {
  background: #fafafa;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px #cfcfcf;
  overflow: hidden;
}

.wrapper {
  padding: 3rem 0;
}
.wrapper .reset-flex {
  display: flex;
  flex-flow: row-reverse wrap;
  gap: 4rem;
}
@media (max-width: 992px) {
  .wrapper .reset-flex {
    flex-flow: column wrap;
    gap: 2rem;
  }
}
.wrapper .reset-flex main {
  width: 70%;
  position: relative;
}
@media (max-width: 992px) {
  .wrapper .reset-flex main {
    width: 100%;
  }
}
.wrapper .reset-flex main nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  transition: height 0.5s;
}
@media screen and (max-width: 620px) {
  .wrapper .reset-flex main nav {
    display: none;
  }
}
.wrapper .reset-flex main nav a {
  display: block;
  padding: 1.2rem 0;
  text-transform: capitalize;
  color: #888;
  text-align: center;
  font-weight: 700;
  transition: 0.5s;
}
.wrapper .reset-flex main nav a i {
  display: block;
  margin-bottom: 0.5rem;
}
.wrapper .reset-flex main nav a:hover {
  color: #DD5555;
}
.wrapper .reset-flex main nav a.active {
  color: #DD5555;
}
.wrapper .reset-flex main nav.active {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.wrapper .reset-flex main nav.active a {
  width: fit-content;
  padding: 1rem 2rem;
}
.wrapper .reset-flex main nav.active a:not(:last-child) {
  border-bottom: 1px solid #DD5555;
}
.wrapper .reset-flex main .toggle {
  position: absolute;
  right: 1rem;
  top: 0;
  width: 4rem;
  height: 1.2rem;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 620px) {
  .wrapper .reset-flex main .toggle {
    display: flex;
  }
}
.wrapper .reset-flex main .toggle .top, .wrapper .reset-flex main .toggle .bottom {
  display: block;
  width: 100%;
  height: 0.4rem;
  background: #DD5555;
  border-radius: 1.5rem;
  transition: 0.5s;
}
.wrapper .reset-flex main .toggle.active {
  width: 3rem;
}
.wrapper .reset-flex main .toggle.active .top {
  transform: rotate(45deg) translateX(5px);
}
.wrapper .reset-flex main .toggle.active .bottom {
  transform: rotate(-45deg) translateX(5px);
}
.wrapper .reset-flex main .logo {
  position: absolute;
  left: 0.5rem;
  top: -0.5rem;
  display: none;
}
@media (max-width: 620px) {
  .wrapper .reset-flex main .logo {
    display: block;
  }
}
.wrapper .reset-flex main .logo a {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #DD5555;
}
.wrapper .reset-flex main .main-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-template-rows: minmax(10rem, auto);
  gap: 4rem;
  margin-top: 4rem;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wrapper .reset-flex main .main-body {
    grid-template-rows: repeat(auto, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  .wrapper .reset-flex main .main-body {
    gap: 2rem;
    grid-template-rows: repeat(5, 1fr);
  }
}
@media (max-width: 460px) {
  .wrapper .reset-flex main .main-body {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
}
.wrapper .reset-flex main .main-body .video {
  grid-row: 1/2;
  grid-column: 1/2;
  min-height: 25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #333;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wrapper .reset-flex main .main-body .video {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (max-width: 768px) {
  .wrapper .reset-flex main .main-body .video {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
@media (max-width: 620px) {
  .wrapper .reset-flex main .main-body .video {
    grid-column: 1/5;
  }
}
.wrapper .reset-flex main .main-body .video video {
  width: 100%;
  height: 100%;
}
.wrapper .reset-flex main .main-body .about {
  grid-column: 2/5;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wrapper .reset-flex main .main-body .about {
    width: 100%;
    grid-column: 2/5;
    grid-row: 1/3;
  }
}
@media (max-width: 768px) {
  .wrapper .reset-flex main .main-body .about {
    grid-column: 1/5;
    grid-row: 1/3;
  }
}
.wrapper .reset-flex main .main-body .about img {
  width: 100%;
  height: 70%;
  display: block;
}
@media (max-width: 420px) {
  .wrapper .reset-flex main .main-body .about img {
    height: 70%;
  }
}
.wrapper .reset-flex main .main-body .about .content {
  padding: 1.5rem;
}
@media (max-width: 420px) {
  .wrapper .reset-flex main .main-body .about .content {
    padding-right: 3rem;
  }
}
.wrapper .reset-flex main .main-body .about .content h3 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  color: #DD5555;
}
.wrapper .reset-flex main .main-body .about .content p {
  font-family: "El Messiri", sans-serif;
  font-size: 1.6rem;
}
.wrapper .reset-flex main .main-body .weather {
  grid-row: 2/3;
  grid-column: 1/2;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wrapper .reset-flex main .main-body .weather {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media (max-width: 768px) {
  .wrapper .reset-flex main .main-body .weather {
    grid-column: 3/5;
    grid-row: 3/4;
  }
}
@media (max-width: 620px) {
  .wrapper .reset-flex main .main-body .weather {
    grid-column: 1/5;
    grid-row: 4/5;
  }
}
.wrapper .reset-flex main .main-body .weather p {
  color: #fafafa;
  background: #DD5555;
  padding: 5rem 1.5rem;
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Playfair Display", serif;
  text-align: center;
}
.wrapper .reset-flex main .main-body .weather h4 {
  text-align: center;
  padding: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  color: #DD5555;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 2rem;
}
.wrapper .reset-flex main .main-body .record {
  width: 100%;
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  max-height: 13rem;
}
@media (max-width: 768px) {
  .wrapper .reset-flex main .main-body .record {
    grid-column: 1/3;
    grid-row: 4/5;
  }
}
@media (max-width: 620px) {
  .wrapper .reset-flex main .main-body .record {
    grid-column: 1/5;
    grid-row: 5/6;
    flex-flow: column wrap;
    max-height: 35rem;
  }
}
.wrapper .reset-flex main .main-body .record img {
  height: 100%;
  width: 30%;
}
@media (max-width: 620px) {
  .wrapper .reset-flex main .main-body .record img {
    width: 100%;
    max-height: 20rem;
    display: block;
    flex: 1;
  }
}
.wrapper .reset-flex main .main-body .record .content {
  padding: 1.5rem;
}
@media (max-width: 620px) {
  .wrapper .reset-flex main .main-body .record .content {
    flex: 1;
  }
}
.wrapper .reset-flex main .main-body .record .content h4 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #DD5555;
}
.wrapper .reset-flex main .main-body .record .content p {
  font-family: "El Messiri", sans-serif;
  font-size: 1.8rem;
  margin: 0 0 1rem;
}
.wrapper .reset-flex main .main-body .record .content .audio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.wrapper .reset-flex main .main-body .record .content .audio .player p {
  margin-top: 1.5rem;
  background: #d6cdcd;
  height: 5px;
  width: 15rem;
  box-shadow: 0 0 10px #cfcfcf inset;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.wrapper .reset-flex main .main-body .record .content .audio .player p .bar {
  width: 50%;
  height: 100%;
  line-height: 5px;
  background: #DD5555;
  display: block;
  border-radius: 20px;
}
.wrapper .reset-flex main .main-body .record .content .audio .player p .time {
  position: relative;
  left: -10%;
  bottom: 290%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  display: block;
  background: #DD5555;
  color: #fafafa;
  border-radius: 4px;
  width: 3rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}
.wrapper .reset-flex main .main-body .record .content .audio .player p .time::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  bottom: -2px;
  left: 51%;
  transform: translateX(-50%) rotate(45deg);
  background: #DD5555;
}
.wrapper .reset-flex main .main-body .record .content .audio .control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 2rem;
  transition: 0.5s;
}
.wrapper .reset-flex main .main-body .record .content .audio .control:hover {
  gap: 2rem;
}
.wrapper .reset-flex main .main-body .record .content .audio .control .chev, .wrapper .reset-flex main .main-body .record .content .audio .control .pause {
  background: #eee;
  padding: 1rem;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.wrapper .reset-flex main .main-body .record .content .audio .control .chev:hover, .wrapper .reset-flex main .main-body .record .content .audio .control .pause:hover {
  background: #DD5555;
  color: #fafafa;
  cursor: pointer;
}
.wrapper .reset-flex main .main-body .record .content .audio .control .pause.active {
  background: #DD5555;
  color: #fafafa;
}
.wrapper .reset-flex main .main-body .find-us {
  width: 100%;
  grid-row: 3/4;
  grid-column: 3/5;
  padding: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  max-height: 13rem;
}
@media (max-width: 768px) {
  .wrapper .reset-flex main .main-body .find-us {
    grid-column: 3/5;
    grid-row: 4/5;
  }
}
@media (max-width: 620px) {
  .wrapper .reset-flex main .main-body .find-us {
    grid-column: 1/5;
    grid-row: 6/7;
  }
}
.wrapper .reset-flex main .main-body .find-us input, .wrapper .reset-flex main .main-body .find-us input:checked {
  outline: none;
}
.wrapper .reset-flex main .main-body .find-us #search {
  width: 100%;
  border: 1px solid #555;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.wrapper .reset-flex main .main-body .find-us #search::placeholder {
  font-size: 1.2rem;
}
.wrapper .reset-flex main .main-body .find-us #checkbox {
  margin-right: 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
}
.wrapper .reset-flex main .main-body .find-us #checkbox::before {
  content: "\f00c";
  font-family: "Font Awesome";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #DD5555;
  border-radius: 2px;
  color: #fafafa;
}
.wrapper .reset-flex main .main-body .find-us label {
  color: #555;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.wrapper .reset-flex main .main-body .find-us button {
  border: none;
  background: #DD5555;
  color: #fafafa;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-left: 1.7rem;
}
.wrapper .reset-flex aside {
  width: 25%;
  text-align: center;
  display: flex;
  gap: 4rem;
  flex-flow: column wrap;
}
@media (max-width: 992px) {
  .wrapper .reset-flex aside {
    width: 100%;
    flex-direction: row;
    gap: 2rem;
  }
}
@media (max-width: 620px) {
  .wrapper .reset-flex aside {
    flex-direction: column;
  }
}
.wrapper .reset-flex aside .place {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
@media (max-width: 992px) {
  .wrapper .reset-flex aside .place {
    flex: 1;
  }
}
.wrapper .reset-flex aside .place img {
  width: 20rem;
  height: 20rem;
  display: block;
  border-radius: 50%;
}
.wrapper .reset-flex aside .place h3 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 1.5rem 0;
  color: #DD5555;
}
.wrapper .reset-flex aside .place p {
  font-family: "El Messiri", sans-serif;
  font-size: 1.8rem;
  margin: 0 0 1rem;
}
.wrapper .reset-flex aside button {
  border: none;
  border-radius: 0.5rem;
  background: #DD5555;
  color: #fafafa;
  padding: 1.5rem 2.25rem;
  text-transform: capitalize;
}
.wrapper .reset-flex aside .calender {
  background: #fafafa;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px #cfcfcf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .wrapper .reset-flex aside .calender {
    flex: 1;
  }
}
.wrapper .reset-flex aside .calender h4 {
  padding: 2rem 0 0.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 1.5rem 0 0;
  color: #DD5555;
}
.wrapper .reset-flex aside .calender p {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #777;
  text-align: center;
}
.wrapper .reset-flex aside .calender p i {
  color: #DD5555;
  display: inline-block;
  padding: 0 0.8rem;
}
.wrapper .reset-flex aside .calender .days {
  background: #DD5555;
  color: #fafafa;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-shadow: 0 0 6px #932b2b;
  gap: 1.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  min-height: 30rem;
}
.wrapper .reset-flex aside .calender .days span {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  transition: 0.5s;
  cursor: pointer;
}
.wrapper .reset-flex aside .calender .days span:hover {
  box-shadow: 0 0 3px #932b2b;
}

/*# sourceMappingURL=main.css.map */
